@import "defaultpallet.css";

:root{
    color: var(--fore);
    background-color: var(--fullback);
}
.company>.roll>div{
    margin-left: 2rem;
    padding-left: 3rem;
    border-left: solid var(--midback);
}
h4.title::before{
    display: inline-block;
    content:"â—";
    width: 4rem;
    color: var(--midback);
    text-align: center;
    margin-right: 1rem;
}
h3.name{
    margin-bottom:0;
}
.icon{
    width:4rem;
    min-width:3rem;
}
.icon>img{
    width:100%;
}
h3.name{
    margin-top:0;
    margin-left:0;
    margin-right:0;
}
.education{
    max-width:25%;
    background-color: var(--midfore);
    color:var(--back);
}
h3::before{
    display: none;
}
h4.title{
    margin:0;
}
.overview{
    display: flex;
    gap: 1rem;
}
.company>.roll>div:last-child{
    padding-bottom: 1rem;
}
.profile>img{
    border-radius: 5rem;
    border: solid var(--fullback);
}
.banner{
    height:10rem;
}